<%#
  Data Table Component
  Usage:
    <%= render 'shared/data_table',
      headers: ['Phone', 'Brand', 'Price'],
      rows: [
        ['iPhone 15 Pro Max', 'Apple', '$1,199'],
        ['Galaxy S24 Ultra', 'Samsung', '$999']
      ],
      caption: "Price comparison table"
    %>

  Parameters:
    headers: Array[String] - Table headers
    rows: Array[Array] - Table rows (each row is an array of cells)
    caption: String - Optional table caption for accessibility
%>

<table class="data-table" role="table">
  <% if local_assigns[:caption].present? %>
    <caption class="sr-only"><%= caption %></caption>
  <% end %>

  <!-- Header -->
  <thead class="data-table__header">
    <tr role="row">
      <% headers.each do |header| %>
        <th scope="col" class="data-table__header-cell">
          <%= header %>
        </th>
      <% end %>
    </tr>
  </thead>

  <!-- Body -->
  <tbody>
    <% rows.each do |row| %>
      <tr class="data-table__row" role="row">
        <% row.each do |cell| %>
          <td class="data-table__cell <%= "data-table__cell--text" if cell.is_a?(String) && !cell.match?(/^\$|[\d,]+\.?\d*$/) %>">
            <%= cell %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
